<div class="container">
  <h3 mat-dialog-title *ngIf="flag == 1">Dodaj polisu osiguranja</h3>
  <h3 mat-dialog-title *ngIf="flag == 2">Modifikuj polisu osiguranja: {{data.vaziOd | date : "yyyy-MM-dd"}}</h3>
  <h3 mat-dialog-title *ngIf="flag == 3">Obriši polisu osiguranja: {{data.vaziOd | date : "yyyy-MM-dd"}}</h3>
  <form class="mat-dialog-content" ngSubmit='submit' #formControl="ngForm">
    <div class="form">
      <mat-form-field>
        <input matInput placeholder="Vazi Od - format datuma [yyy-MM-dd]" [(ngModel)]="data.vaziOd" name="vaziOd" [disabled]="flag == 3" required>
      </mat-form-field>
    </div>

    <div class="form">
      <mat-form-field>
        <input matInput placeholder="Vazi Do - format datuma [yyy-MM-dd]" [(ngModel)]="data.vaziDo" name="vaziDo" [disabled]="flag == 3" required>
      </mat-form-field>
    </div>

    <div class="form">
      <mat-form-field>
        <mat-select [(ngModel)]="data.osiguravajucaKucaID" placeholder="OsiguravajucaKuca" name="osiguravajucaKucaID" [compareWith]="compareTo" [disabled]="flag == 3">
          <mat-option *ngFor="let osiguravajucaKucaID of osiguravajuceKuce" [value]="osiguravajucaKucaID.osiguravajucaKucaID">
            {{ osiguravajucaKucaID.nazivOsiguravajuceKuce }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div mat-dialog-actions>
      <button mat-button *ngIf="flag == 1" type="submit" [mat-dialog-close]="1" (click)="add()" [disabled]="!formControl.valid">Sačuvaj</button>
      <button mat-button *ngIf="flag == 2" type="submit" [mat-dialog-close]="1" (click)="update()" [disabled]="!formControl.valid">Sačuvaj</button>
      <button mat-button *ngIf="flag == 3" type="submit" [mat-dialog-close]="1" (click)="delete()">Obriši</button>
      <button mat-button (click)="cancel()">Poništi</button>
    </div>
  </form>
</div>
