<div fixLayoutAlign="center center" fxFlexFill class="main-div">
  <mat-card fxFlex="25">
    <mat-toolbar color="primary">Logovanje </mat-toolbar>
    <form fxLayoutAlign="stretch" fxLayout="column" class="login-form" [formGroup]="formGroup"
    (ngSubmit)="loginProces()">
     <mat-form-field>
       <input matInput placeholder="Unesite korisničko ime" formControlName="email">
     </mat-form-field>

     <mat-form-field>
      <input matInput type="password" placeholder="Unesite lozinku" formControlName="password">
    </mat-form-field>

    </form>

    <button mat-raised-button  type="submit" class="mt-15" color="primary" style="position: relative; left: 19%;" >Uloguj se</button>

  </mat-card>

</div>

