<div class="container">
  <h3 mat-dialog-title *ngIf="flag == 1">Dodavanje tipa automobila</h3>
  <h3 mat-dialog-title *ngIf="flag == 2">Modifikacija tipa automobila: {{data.nazivTipaAutomobila}}</h3>
  <h3 mat-dialog-title *ngIf="flag == 3">Brisanje tipa automobila: {{data.nazivTipaAutomobila}}</h3>
  <form class="mat-dialog-content" #formControl="ngForm">
    <div class="form">
      <mat-form-field>
        <input matInput placeholder="Naziv Tipa Automobila" [(ngModel)]="data.nazivTipaAutomobila" name="nazivTipaAutomobila" [disabled]="flag == 3" required>
      </mat-form-field>
    </div>

      <div mat-dialog-actions>
      <button mat-button *ngIf="flag == 1" type="submit" [mat-dialog-close]="1" (click)="add()" [disabled]="!formControl.valid">Sačuvaj</button>
      <button mat-button *ngIf="flag == 2" type="submit" [mat-dialog-close]="1" (click)="update()" [disabled]="!formControl.valid">Sačuvaj</button>
      <button mat-button *ngIf="flag == 3" type="submit" [mat-dialog-close]="1" (click)="delete()">Obriši</button>
      <button mat-button (click)="cancel()">Poništi</button>
    </div>
  </form>
</div>
