<mat-toolbar color="primary">
  <span class="title-center">Obavljeni servisi automobila</span>
  </mat-toolbar>

  <div class="container mat-elevation-z8">
      <mat-form-field>
          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
        </mat-form-field>
  <mat-table #table [dataSource]="dataSource" class="mat-cell" matSort>

    <ng-container matColumnDef="servisID">
      <mat-header-cell *matHeaderCellDef mat-sort-header>ID</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.servisID}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="datumServisiranja">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Datum servisiranja</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.datumServisiranja | date : "dd.MM.yyyy."}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="opis">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Opis </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.opis}}  </mat-cell>
    </ng-container>

    <ng-container matColumnDef="cenaServisa">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Cena servisa</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.cenaServisa}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="aktuelan">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Aktuelnost </mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.aktuelan}}</mat-cell>
    </ng-container>

    <!-- actions -->
    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef>
        <button mat-icon-button color="primary" (click)="openDialog(1)">
          <mat-icon>add</mat-icon>
        </button>
      </mat-header-cell>

      <mat-cell *matCellDef="let row; let i=index;">
        <button mat-icon-button color="primary" (click)="openDialog(2,row.servisID, row.datumServisiranja, row.opis, row.cenaServisa, row.aktuelan)">
          <mat-icon aria-label="Edit">edit</mat-icon>
        </button>
        <button mat-icon-button color="primary" (click)="openDialog(3,row.servisID, row.datumServisiranja, row.opis, row.cenaServisa, row.aktuelan)">
          <mat-icon aria-label="Delete">delete</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row style="cursor: pointer" *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
  <mat-paginator [pageSize]="[5]" [pageSizeOptions]="[5, 10, 20]" [showFirstLastButtons]="true"></mat-paginator>
  </div>
