<div class="container">
  <h3 mat-dialog-title *ngIf="flag == 1">Dodaj marku</h3>
  <h3 mat-dialog-title *ngIf="flag == 2">Modifikuj marku: {{data.nazivMarke}}</h3>
  <h3 mat-dialog-title *ngIf="flag == 3">Obriši marku: {{data.nazivMarke}}</h3>
  <form class="mat-dialog-content" ngSubmit='submit' #formControl="ngForm">
    <div class="form">
      <mat-form-field>
        <input matInput placeholder="Naziv Marke" [(ngModel)]="data.nazivMarke" name="nazivMarke" [disabled]="flag == 3" required>
      </mat-form-field>
    </div>

    <div class="form">
      <mat-form-field>
        <mat-select [(ngModel)]="data.modelID" placeholder="Model" name="modelID" [compareWith]="compareTo" [disabled]="flag == 3">
          <mat-option *ngFor="let modelID of modeli" [value]="modelID.modelID">
            {{ modelID.nazivModela }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div mat-dialog-actions>
      <button mat-button *ngIf="flag == 1" type="submit" [mat-dialog-close]="1" (click)="add()" [disabled]="!formControl.valid">Sačuvaj</button>
      <button mat-button *ngIf="flag == 2" type="submit" [mat-dialog-close]="1" (click)="update()" [disabled]="!formControl.valid">Sačuvaj</button>
      <button mat-button *ngIf="flag == 3" type="submit" [mat-dialog-close]="1" (click)="delete()">Obriši</button>
      <button mat-button (click)="cancel()">Poništi</button>
    </div>
  </form>
</div>
